//Import custom SCSS
//colors
$gray-light-1: #aeaeae;
$gray-light-2: #c7c7c7;
$gray-light-3: #d1d1d1;
$gray-light-4: #e5e5e5;
$gray-light-5: #f2f2f2;
$gray-dark-1: #636363;
$gray-dark-2: #484848;
$gray-dark-3: #3a3a3a;
$gray-dark-4: #282828;
$gray-dark-5: #202020;
$green: #42b883;
$green-light: #42d392;
$green-lighter: #35eb9a;
$green-dark: #33a06f;
$green-darker: #155f3e;

