//Import custom SCSS
body{
   
        article{
           
        }
        section{
           
        }
        h1,h2,h3,h4
        {
            
        }
        h1{
            
        }
        a{
            font-weight: 500;
            text-decoration: inherit;
                &.nav-link{
                }
                &:hover{
                }
        } 
        form{
            display: flex;
            flex-direction: column;
            padding: 1rem;
            border-radius: 8px;
            .row{
                margin-left: 1rem;
               
            }
            fieldset{
                margin-top: 1rem;
                &:first-child{
                    margin-top: 0;
                }
            }
            legend{
                @include make-col(12);
                text-align: left;
            }
            label{
                padding: 0.5rem;
                line-height: 0.5rem;
            }
            .form-check{
               line-height: 0px;
               text-align: left;
               padding: 1rem 1rem;
              
            @include make-col(12);
                @media only screen and (min-width: 768px) {
                    @include make-col(4);
                  }
            }
        }
        nav{
            .logo{

            }
        }
        
        .number {
         
        } 
        .questionmark {
           
        }
        .tag {
            padding: 0.5rem 1rem;
            margin: 0.5rem 0.25rem;
            margin-left: 0px;
          }
       
      
}