//Import custom SCSS
body{
    background-color: $gray-dark-5;
        article{
            background-color: $gray-dark-5;
        }
        section{
            background-color: $gray-dark-5;
        }
        h1,h2,h3,h4
        {
            color:$gray-light-4;
        }
        h1{
            margin-bottom: 1rem;
        }
        h4{
          text-align: right;
          color: $gray-dark-5;
        }
        a{
            font-weight: 500;
            color:$green-lighter;
            text-decoration: inherit;
                &.nav-link{
                    color:$gray-light-4;
                }
                &:hover{
                    color: $gray-light-3;  
                }
        } 
        form{
            display: flex;
            flex-direction: column;
            background-color:$gray-dark-4;
            padding: 1rem;
            .row{
                margin-left: 1rem;
               
            }
            legend{
                color: $gray-dark-1;
                @include make-col(12);
                text-align: left;
            }
            label{
                color:$gray-dark-1;
                padding: 0.5rem;
                line-height: 0.5rem;
            }
            .form-check{
               line-height: 0px;
               text-align: left;
               padding: 1rem 1rem;
              
            @include make-col(12);
                @media only screen and (min-width: 768px) {
                    @include make-col(4);
                  }
            }
        }
        .number {
            border-radius: 100%;
            border: solid 2px $gray-dark-4;
            background-color: transparent;
        } 
        .questionmark {
            background-color: $gray-dark-5;
            color: $gray-light-5;
        }
        .results{
            background-color: $gray-light-5;
            h1{
                color: blue;
            }  
        } 
      
}