:root {
  color: $gray-light-5;
  background-color: $gray-dark-4;
  color-scheme: light dark;
}
body {
  background-color: $gray-dark-5;

  article {
    background-color: $gray-dark-5;
  }
  section {
    background-color: $gray-dark-5;
    .idNumber{
        color:$gray-dark-5;
    }
  }
  h1,
  h2,
  h3{
    color: $gray-light-4;
  }
  h1 {
    margin-bottom: 1rem;
  }
  h4 {
    text-align: right;
    color: $gray-dark-5;
  }
  a {
    font-weight: 500;
    color: $green-lighter;
    text-decoration: inherit;
    &.nav-link {
      color: $gray-light-4;
    }
    &:hover {
      color: $gray-light-3;
    }
  }
  .nav,
  nav{
        color: $gray-dark-3;
        .nav-item {
          a{
            &.router-link-active{
              color:$green-lighter;
            }
            
         }
          &.active {
            a {
              color:$green-lighter;
             
            }
            
          }
        }
    }
  form {
    background-color: $gray-dark-4;
    legend {
      color: $green;

    }
    label {
      color: $gray-dark-1;
    }
    span {
      color: $gray-dark-3;

      &.label {
        color: $gray-dark-1;
      }
    }
    input {
      &.form-check-input:checked {
        background-color: $green;
        border-color: $green-dark;
      }
    }
  }
  input:checked + .slider {
    background-color: $green;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px $green;
  }
  button{
    color:$gray-light-2;
    border: 1px solid $green-light;
    &:hover {
      border: 1px solid $green-lighter;
      background-color: $gray-dark-5;
    }
    &:disabled {
      border: 1px solid $gray-dark-3;
      animation: none;
      &:hover {
        border: 1px solid $gray-dark-3;
        background-color: $gray-dark-6;
        cursor: default;
      }
    }
  }
  svg {
    fill: $green-lighter;
    transition: all 0.3s ease;
  }

  #app {
    .menuDetails {
      background-color: $green-darker;
      color: $gray-light-2;
      border: solid 1px $green-darker;
      > div {
        border-bottom: solid 1px $gray-dark-5;
      }
    }
  }
  .highlight, .highlight2 {
    color: $green-lighter;
  }
  
  .number {
    border: solid 2px $gray-dark-4;
    background-color: transparent;
  }
  .questionmark {
    background-color: $gray-dark-5;
    color: $gray-light-5;
  }
  .results {
    background-color: $gray-light-5;

    h1 {
      color: $green-darker;
    }
  }
}
.ingredients {
  li {
    background: $gray-dark-4;
  }
}
.tag {
  background: $gray-dark-4;
}
.slider{
  background-color: $gray-dark-3;
}

//WAI contrast colors
.wai {
    background-color:$gray-dark-3;
    section{
      
        background-color:$gray-dark-3;
        &.titleContainer{
          background-color: $green-darker;
        }  
            h6{
                color: $gray-light-2
            }
            .idNumber{
                color: $gray-light-2
            }
    }
    button{
        color:$gray-light-2;
    }
  form {
    .form-check {
          span{
              color: $gray-light-2;
              &.label {
                  color:$gray-light-2;
                }
          }
        }
        label{
          color:$gray-light-2;
        }
      
    }
    .number {
        border: solid 2px$gray-light-2;
    } 
  
  nav{
    color: $gray-light-2;
    .slider {
        background-color:$gray-light-1;
    }
  }
}
