//Import custom SCSS
body{
   
        article{
            
        }
        section{
       
        }
        h2,h3,h4
        {
           
        }
        h1{
            font-size: $font-large;
            @media only screen and (min-width: 768px) {
                font-size: $font-extra-large;
              }
        }
        h4{
         
        }
        a{
            
            
                &.nav-link{
                   
                }
                &:hover{
                    
                }
        } 
        form{
            
            legend{
                font-size: $font-medium ;
            }
            label{
               
            }
        }
        .number {
           
        } 
        .questionmark {
            
        }
        .results{
            
            
            h1{
                
            }  
        } 
      
}