// Option A: Include Complete Bootstrap
//@import "bootstrap/scss/bootstrap"; 

// Custom.scss
// Option B: Include parts of Bootstrap
//////////////// Configuration
// // 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
 @import "./bootstrap/scss/functions";

// 2. Include any default variable overrides here 
// copieing vars from _variables.scss - & -removing "!default" for using - in:
// custom_variables.scss 'custom defaults'
@import "./theme/variables_custom";


// 3. Include remainder of required Bootstrap stylesheets
@import "./bootstrap/scss/variables";
@import "./bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "./bootstrap/scss/maps";
@import "./bootstrap/scss/mixins";

// // 6. Optionally include any other parts as needed
@import "./bootstrap/scss/utilities";
@import "./bootstrap/scss/root";
@import "./bootstrap/scss/reboot";
@import "./bootstrap/scss/type";
////////////////////Layout & components
@import "./bootstrap/scss/images";
@import "./bootstrap/scss/containers";
@import "./bootstrap/scss/grid";
@import "./bootstrap/scss/forms";
@import "./bootstrap/scss/buttons";
@import "./bootstrap/scss/nav";

// Helpers
@import "./bootstrap/scss/helpers";


// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "./bootstrap/scss/utilities/api";

//8. Add additional custom code here
@import "./theme/theme.scss";
@import "./theme/typography";
@import "./theme/spaces";
//custom styles for testing
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  html{
    body {
        margin: 0;
        display: flex;
        place-items: center;
        min-width: 320px;
        min-height: 100vh;
        h1,h2,h3,h4,h5,h6{
         &:focus-visible{
          border: solid 1px;
         } 
        }
      h1 {
        line-height: 1.1;
      }
      h4{
        text-align: right;
        color: $gray-dark-5;
        margin:0px;
      }
      
      p{
        font-size: 1.5rem;
      }
    }
  }


.tag{
    list-style: none;
    background: $gray-dark-4;
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0.25rem;
    margin-left: 0px;
    font-size: 1rem;
    font-weight: 800;
}


.results{
  &.testing{
    background-color: red;
  }
  margin-top: 1rem;
  button{
    margin: 1rem;
    border: solid 1px;
    
  }
 }

.titleContainer{
  h6 {
    padding: 2rem;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    @include media-breakpoint-up(sm) { 
      justify-content: flex-end;
     }  
    align-items: center;
  }
}
  a{
    &.accord{
      padding: 1.5rem;
      @include media-breakpoint-up(sm) { 
       padding: 1rem;
      }  
      cursor: pointer;
      &:hover{
        opacity: 0.7;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      svg{
        width: 1.5rem;
        margin-left: 1rem;
        transform: rotate(0deg);
      }
      &.open{
        svg{
          transform: rotate(-315deg);
        }
      }
    }
  }
.btnContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}

  button {
        border-radius: 8px;
        border: 1px solid transparent;
        border: 1px solid $green-light;
        font-size: 1em;
        width: 300px;
        padding: 1rem;
        margin: 0 auto;
        align-self: end;
        font-weight: 600;
        font-family: monospace;
        background: linear-gradient(218deg, $gray-dark-5, #000);
        background-size: 400% 400%;
        -webkit-animation: AnimationGradient 3s ease infinite;
        -moz-animation: AnimationGradient 3s ease infinite;
        -o-animation: AnimationGradient 3s ease infinite;
        animation: AnimationGradient 3s ease infinite;
    &:hover{
      border: 1px solid $green-lighter;
      background-color: $gray-dark-5;
    }
    cursor: pointer;
    transition: border-color 0.25s;
    &:disabled{
      border: 1px solid $gray-dark-3;
      animation: none;
      &:hover{
        border: 1px solid $gray-dark-3;
        background-color: #1a1a1a;
        cursor:default;
      }
    }
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  .card {
    padding: 2em;
  }

  svg{
    fill:$green-lighter;
    transition: all 0.3s ease;
  }
  
  #app {
    width: 100%;
    text-align: center;
    .menuDetails{
      padding: 2rem;
      background-color: #155f3e;
      border-radius: 0;
      color: #cac5c5;
      @include media-breakpoint-up(sm) { 
        border-radius: 1rem;
       } 
       .idNumber{
        display: none;
        
        font-size: 2rem;
       
        padding-right: 2rem;
        padding-bottom: 2rem;
        
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        @include media-breakpoint-up(sm) { 
          padding-right: 2rem;
          justify-content: flex-end;
         }  
      }
      max-width: 768px;
      margin: 2rem auto;
      border: solid 1px #155f3e;
      > div{
        border-bottom: solid 1px $gray-dark-5;
        width: 100%;
        &:last-child{
          border: none;
        }
      }

      h3{
        padding: 1rem;
      }
    }
  }

  .qmarkcontainer{
    .qmarkincontainer{
        background-color: #202020;
        position: absolute;
        width: 8rem;
        height: 8rem;
        @include media-breakpoint-up(sm) { 
          width: 11rem;
          height: 11rem;
        }   
        border-radius: 100%;
          }
        .questionmark { 
            font-weight: 600;
            width: 8rem;
            height: 8rem;
            @include media-breakpoint-up(sm) { 
              width: 11rem;
              height: 11rem;
            }   
            position: relative;
            display: block;
            border-radius: 100%;
            padding:1rem;
            margin: 0px;
            line-height: 1em;
            &.sec{
              color: #000;
            }
          }
      
          font-size: 6rem;
          width: 9rem;
          height: 9rem;
          @include media-breakpoint-up(sm) { 
            font-size: 9rem;
            width: 12rem;
            height: 12rem;
          }   
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 100%;
        justify-content: center;
        margin:2rem auto;
        background: radial-gradient(#000, #1b4834);
        background-size: 300% 300%;
        animation: AnimationGradient 10s cubic-bezier(0.23,-1.98, 1, 1) infinite;
        -webkit-animation: AnimationGradient 10s cubic-bezier(0.23,-1.98, 1, 1) infinite;
        -moz-animation: AnimationGradient 10s cubic-bezier(0.23,-1.98, 1, 1) infinite;
        -o-animation: AnimationGradient 10s cubic-bezier(0.23,-1.98, 1, 1) infinite;
    }

    @-webkit-keyframes AnimationGradient {
        0%{background-position:91% 0%}
        50%{background-position:10% 100%}
        100%{background-position:91% 0%}
    }
    @-moz-keyframes AnimationGradient {
        0%{background-position:91% 0%}
        50%{background-position:10% 100%}
        100%{background-position:91% 0%}
    }
    @-o-keyframes AnimationGradient {
        0%{background-position:91% 0%}
        50%{background-position:10% 100%}
        100%{background-position:91% 0%}
    }
    @keyframes AnimationGradient {
        0%{background-position:91% 0%}
        50%{background-position:10% 100%}
        100%{background-position:91% 0%}
    }
//////
/// ///switch style

.form-check{
  &.check{
    padding: 0px;
    display: flex
    
  }
 
    .switch {
      position: relative;
      display: block;
      width: 60px;
      height: 30px;
      &:focus{
        border:1px solid #86b7fe;
        outline-offset: 1px;
        outline: 0;
      }
    }
   
      span{
          &.label{
            display: block;
            min-width: 100px;
            font-size: 1rem;
            align-self: center;
            text-align: right;
          }
        }
      }
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $gray-dark-3;
      border-radius: 4px;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 2px;
      border-radius: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: $green;
    border-radius: 5px;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px $green;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }


  // @media (prefers-color-scheme: light) {
  //   :root {
  //     color: #213547;
  //     background-color: #ffffff;
  //   }
  //   a:hover {
  //     color: #747bff;
  //   }
  //   button {
  //     background-color: #f9f9f9;
  //   }
  // }
  
